
page-home {
 ion-textarea { 
    font-size: 36px; 
    background-color: #fff;
    width:576px;
    height:300px;
}
/*.main-page {
  .toolbar {
    .toolbar-background {
      background: transparent;
    }
  }
}*/
}