page-explore {
.scroll {
        height: 100%
      }

      #polp_explorer {
        width: 100%;
        height: 100%;
      }
      background-color: transparent !important;
      color: transparent !important;
}
